.courseCard {
  border: 1px solid dimgrey;
  border-radius: 15px;
  background-color: coral;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 465px;
  height: 440px;
  padding: 15px;
}

h2 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: aquamarine;
}

ul {
  padding-left: 20px;
}