.post {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  border: 1px solid greenyellow;
  background-color: lightslategray;
  height: 480px;
  width: 250px;
  padding: 15px;
}

.reactions {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}